
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljs-window  {:git/url "https://github.com/bithandshake/cljs-window"
                                    :sha     "93cde0f0e51b95e8f3292589b2804ee396797666"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}
         reagent/reagent           {:mvn/version "1.2.0"}}}
